div.busqueda {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    color:white;
    background-color: #202020;
    margin: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

div.busqueda p-floatlabel, p-select {
    margin-bottom: 20px;
}